<launch>
  <arg
        name="freq"
        default="10"
  />
  <arg
        name="enableBag"
        default="false"
  />
  <node name="talker" pkg="beginner_tutorials" type="talker" output = "screen" args="$(arg freq)"/>
  <node name="listener" pkg="beginner_tutorials" type="listener" output = "screen" launch-prefix="xterm -e"/>
  <node
        pkg="rosbag"
        name="store_talker"
        type="record"
        args="--duration=15 --all --output-name=$(find beginner_tutorials)/results/storedTalker.bag"
        if="$(arg enableBag)"
    />
</launch>
